<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ThreeClicks.gogym">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_fitsecret_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_fitsecret_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddExpenseActivity"></activity>
        <activity android:name=".AddExerciseCategoryActivity" />
        <activity
            android:name=".ExerciseCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SmsHistoryActivity" />
        <activity android:name=".AddDietActivity" />
        <activity
            android:name=".ManageDietingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddSmsTemplateActivity" />
        <activity
            android:name=".SmsTemplateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageExpensesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddMeasurementActivity" />
        <activity
            android:name=".ManageMeasurementActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddEnquiryActivity" />
        <activity android:name=".AddEnquiryType" />
        <activity android:name=".AddCustomerCategoryActivity" />
        <activity
            android:name=".ManageEnquiryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageEnquiryTypeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ManageExerciseActivity" />
        <activity
            android:name=".CustomerCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AttendanceReportActivity" />
        <activity android:name=".MarkAttendenceActivity" />
        <activity android:name=".ManageMemberActivity" />
        <activity android:name=".AddMemberActivity" />
        <activity android:name=".AddTrainerActivity" />
        <activity
            android:name=".ManageTrainerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QRCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddUserActivity" />
        <activity
            android:name=".ManageUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".utils.BaseActivity" />
        <activity android:name=".AddNoticeActivity" />
        <activity
            android:name=".ManageNoticeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageInvoiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddBatchActivity" />
        <activity
            android:name=".ManageBatchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddTaxActivity" />
        <activity
            android:name=".ManTaxActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddPlanActivity" />
        <activity
            android:name=".ManagePlanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EnrollmentFeeActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".ReferNEarnActivity" />
        <activity android:name=".ManageComplaintActivity" />
        <activity android:name=".AddGymActivity" />
        <activity
            android:name=".ManageGymActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>