<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitSecret.fitSecretMobileApp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_fitsecret_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_fitsecret_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddExpenseActivity"></activity>
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddExerciseCategoryActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ExerciseCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.SmsHistoryActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddDietActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageDietingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddSmsTemplateActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.SmsTemplateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageExpensesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddMeasurementActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageMeasurementActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddEnquiryActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddEnquiryType" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddCustomerCategoryActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageEnquiryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageEnquiryTypeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.ManageExerciseActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.CustomerCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AttendanceReportActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.MarkAttendenceActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.ManageMemberActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddMemberActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddTrainerActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageTrainerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.QRCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.MyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddUserActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.utils.BaseActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddNoticeActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageNoticeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageInvoiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddBatchActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageBatchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddTaxActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManTaxActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddPlanActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManagePlanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.EnrollmentFeeActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.HelpActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.ReferNEarnActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.ManageComplaintActivity" />
        <activity android:name="com.fitSecret.fitSecretMobileApp.AddGymActivity" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.ManageGymActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.fitSecret.fitSecretMobileApp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>